In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = "../../WHAI-provided_data/"

In [18]:
p_path = data_path+"02_picking-activity_K1.csv"
i_path = data_path+"04_Item-Master_K1.xlsx"
def preprocessing(picking_path=p_path):
    picking = pd.read_csv(picking_path)
    picking["Execution_time"] = pd.to_datetime(picking["Execution_time"])
    
    Item = pd.read_excel(i_path)
    Item = Item[~Item["Article number"].isna()]
    Item["Article number"] = Item["Article number"].astype(int)
    
    picking = picking.merge(Item[["Article number","number per load carrier"]],
                  left_on = "Artikelno",right_on = "Article number", how="left")
    del picking['Article number']
    
    return picking

In [19]:
picking = preprocessing(p_path)

In [35]:
picking = picking.rename(columns={"number per load carrier": "Unit_load"})
picking

,Execution_time,Amount,Order,Artikelno,Charge,Run,From_pallet,Origin,Destination,Date_receipt,Date_MHD,Recipient,Unit_load
0,2018-08-31,1,983500824,398,28022021,180903,114348,2-08-122-1,40,8/31/18,2/28/21,E500,32
1,2018-08-31,1,983500824,251,10072019,180903,114284,2-05-121-1,40,8/31/18,7/10/19,E500,162
2,2018-08-31,2,983500824,127,9012020,180903,114252,2-03-119-1,40,8/31/18,1/9/20,E500,114
3,2018-08-31,1,983500824,160,25072019,180903,114246,2-03-107-1,40,8/31/18,7/25/19,E500,55
4,2018-08-31,1,983500824,370,5072019,180903,114218,2-02-118-1,40,8/31/18,7/5/19,E500,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311499,2020-07-31,27,543711,177,6012022,200731,891387,2-30-143-1,44,7/8/20,1/6/22,E33,210
311500,2020-07-31,8,543711,38,9062021,200731,861209,2-29-132-1,44,6/10/20,6/9/21,E33,162
311501,2020-07-31,17,543711,190,19122021,200731,872294,2-31-136-1,44,6/19/20,12/19/21,E33,133
311502,2020-07-31,21,543711,149,18042021,200731,871883,2-27-130-1,44,6/19/20,4/18/21,E33,100
311503,2020-07-31,4,543717,285,2042021,200731,900954,2-32-146-1,24,7/20/20,4/2/21,E192,20

In [43]:
model_input = picking[["Execution_time","Artikelno","Amount","Unit_load"]].groupby(
    ["Artikelno","Unit_load"],as_index = 0)["Amount"].agg({"Total":'sum',"Picks":'count'}).reset_index(drop=True)
model_input

     Artikelno  Unit_load  Total  Picks
0            1         57   1448    621
1            2        200    526     12
2            3        420  32564   1620
3            4         40    582     81
4            5        182   2379    101
..         ...        ...    ...    ...
615       1949        165    141      5
616       1950        165    141      5
617       1951        165    141      5
618       1952        165    207      5
619       1953        165    115      4

[620 rows x 4 columns]

In [44]:
model_input["Full_pallet"] = np.ceil(model_input["Total"]/model_input["Unit_load"])
model_input

     Artikelno  Unit_load  Total  Picks  Full_pallet
0            1         57   1448    621         26.0
1            2        200    526     12          3.0
2            3        420  32564   1620         78.0
3            4         40    582     81         15.0
4            5        182   2379    101         14.0
..         ...        ...    ...    ...          ...
615       1949        165    141      5          1.0
616       1950        165    141      5          1.0
617       1951        165    141      5          1.0
618       1952        165    207      5          2.0
619       1953        165    115      4          1.0

[620 rows x 5 columns]

# Model

## parameters

In [47]:
A = model_input["Artikelno"].to_numpy()
p = model_input["Picks"].to_numpy()
d = model_input["Full_pallet"].to_numpy()

In [48]:
li  =

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24,   25,   26,   27,   28,   29,   30,   31,   32,   33,   34,
         35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
         46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109,  111,  112,
        113,  114,  115,  116,  117,  118,  119,  120,  121,  122,  123,
        124,  125,  126,  127,  128,  129,  130,  131,  132,  133,  135,
        136,  137,  138,  139,  140,  141,  142,  144,  146,  147,  148,
        149,  150,  151,  152,  153,  154,  155,  156,  157,  158,  159,
        160,  161,  162,  163,  164,  165,  166,  167,  168,  169,  170,
        171,  172,  173,  174,  175,  176,  177,  178,  179,  180,  181,
        182,  183,  184,  185,  186,  187,  188,  189,  190,  191,  192,
        193,  194,  195,  196,  197,  198,  199,  200,  201,  202,  203,
        204,  205,  207,  208,  209,  210,  211,  212,  213,  214,  215,
        217,  218,  219,  220,  221,  222,  223,  224,  225,  226,  227,
        228,  229,  230,  231,  232,  233,  234,  235,  236,  237,  238,
        239,  240,  241,  243,  244,  245,  246,  247,  248,  249,  250,
        251,  252,  253,  254,  255,  256,  257,  258,  259,  260,  261,
        262,  263,  264,  265,  266,  267,  268,  269,  270,  271,  272,
        273,  274,  275,  276,  277,  278,  279,  280,  281,  282,  283,
        284,  285,  286,  287,  288,  289,  290,  291,  292,  293,  294,
        295,  296,  297,  298,  299,  300,  301,  302,  303,  304,  305,
        306,  307,  308,  309,  310,  311,  312,  313,  314,  315,  316,
        317,  318,  319,  320,  321,  322,  323,  324,  325,  326,  327,
        328,  329,  330,  331,  332,  333,  334,  335,  336,  337,  338,
        339,  340,  342,  343,  344,  345,  346,  347,  348,  349,  350,
        351,  352,  353,  354,  355,  356,  357,  358,  359,  360,  361,
        362,  363,  364,  365,  366,  367,  368,  369,  370,  371,  372,
        373,  374,  375,  376,  377,  378,  379,  380,  381,  382,  383,
        384,  385,  386,  387,  388,  389,  390,  391,  392,  393,  394,
        395,  396,  397,  398,  399,  400,  401,  402,  403,  404,  405,
        406,  407,  408,  409,  410,  411,  412,  413,  414,  415,  416,
        417,  418,  419,  420,  421,  422,  423,  424,  425,  426,  427,
        428,  429,  430,  431,  432,  433,  434,  435,  436,  437,  441,
        442,  443,  444,  445,  447,  448,  449,  451,  452,  453,  454,
        455,  456,  457,  458,  459,  460,  461,  462,  463,  464,  465,
        466,  467,  468,  469,  470,  471,  472,  473,  474,  475,  476,
        477,  478,  479,  480,  481,  482,  483,  484,  485,  486,  487,
        488,  489,  490,  491,  492,  493,  494,  496,  497,  498,  499,
        500,  501,  502,  503,  504,  505,  506,  507,  508,  509,  510,
        511,  512,  513,  514,  515,  516,  517,  518,  519,  520,  521,
        522,  523,  524,  525,  526,  527,  528,  529,  530,  531,  532,
        533,  534,  535,  536,  537,  538,  539,  540,  541,  542,  543,
        544,  545,  546,  547,  548,  549,  550,  551,  552,  553,  554,
        556,  557,  558,  559,  560,  561,  562,  563,  564,  565,  566,
        567,  568,  569,  570,  571,  572,  573,  574,  575,  576,  577,
        578,  580,  581,  582,  583,  584,  585,  586,  587,  588,  593,
        594,  595,  596,  598,  599,  600,  601,  602,  603,  607, 1097,
       1098, 1277, 1430, 1431, 1582, 1583, 1584, 1585, 1718, 1719, 1720,
       1721, 1731, 1732, 1845, 1846, 1849, 1850, 1856, 1857, 1858, 1885,
       1915, 1917, 1926, 1927, 1934, 1935, 1936, 1941, 1947, 1948, 1949,
       1950, 1951, 1952, 1953])